<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	   http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	   "
	   xmlns:tx="http://www.springframework.org/schema/tx">
	
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
	
	
	<context:component-scan base-package="action,assign,daoimp,serviceimp"></context:component-scan>
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/wygl?characterEncoding=utf-8">
		</property>
		<property name="username" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>Model.Login</value>
				<value>Model.Userinfo</value>
				<value>Model.Car</value>
				<value>Model.Carmanage</value>
				<value>Model.Charstan</value>
				<value>Model.Expdetail</value>
				<value>Model.Expensetype</value>
				<value>Model.Stall</value>
				<value>Model.Chart</value>
				<value>Model.FamilyDetail</value>
				<value>Model.Fitment</value>
				<value>Model.ForeignManage</value>
				<value>Model.HouseManage</value>
				<value>Model.HouseOwnerManage</value>
				<value>Model.Jobtype</value>
				<value>Model.Occupation</value>
				<value>Model.Offorest</value>
				<value>Model.PublicUtilityManage</value>
				<value>Model.Service</value>
				<value>Model.Staffinfo</value>
				<value>Model.TrackRecord</value>
				<value>Model.UtilityDamage</value>
				<value>Model.UtilityDetail</value></list>
		</property>
		</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	
	
	<bean id="carDAO" class="daoimp.CarDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="charstanDAO" class="daoimp.CharstanDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="expdetailDAO" class="daoimp.ExpdetailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="expensetypeDAO" class="daoimp.ExpensetypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="stallDAO" class="daoimp.StallDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="chartDAO" class="daoimp.ChartDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="familyDetailDAO" class="daoimp.FamilyDetailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="fitmentDAO" class="daoimp.FitmentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="foreignManageDAO" class="daoimp.ForeignManageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="HouseManageDAO" class="daoimp.HouseManageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="houseOwnerManageDAO" class="daoimp.HouseOwnerManageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jobtypeDAO" class="daoimp.JobtypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="occupationDAO" class="daoimp.OccupationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="offorestDAO" class="daoimp.OfforestDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="publicUtilityManageDAO"
		class="daoimp.PublicUtilityManageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="serviceDAO" class="daoimp.ServiceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="staffinfoDAO" class="daoimp.StaffinfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="trackRecordDAO" class="daoimp.TrackRecordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="utilityDamageDAO" class="daoimp.UtilityDamageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="utilityDetailDAO" class="daoimp.UtilityDetailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>